
.vscode/


engine/bin/testKernel__linux_Debug

engine/bin/testVulkan__linux_Debug
engine/.vs/
*.pdb

engine/bin/testKernel__linux_Release

engine/bin/testVulkan__linux_Release
engine/bin/testKernel__windows_Debug.exe
*.ilk
engine/bin/testVulkan__windows_Debug.exe
.vs/
