
.vs/
*.pdb
*.ilk
*.goslog
*.exe
*.manifest
*.spv
*__linux
*__linux_d
*__linux_Debug
*__linux_Release
*__windows
*__windows_d
*__windows_Debug.exe
*__windows_Release.exe

engine/aaCMakePresets.json
engine/.vs/

engine/bin/testVulkan/shader/example6/angolo.glb
engine/bin/testVulkan/writable/
engine/bin/testVulkan/texture/faccia256x256.png
engine/bin/testVulkan/texture/faccia512x512.jpg

engine/bin/ProfileServer/writable/log/

engine/bin/simpleWorld/assets/sponza/sponza.glb
engine/bin/simpleWorld/assets/sponza/sponza_glTF.ini


engine/.vscode/bookmarks.json

engine/.vscode/c_cpp_properties.json

engine/bin/glslParser/example/compiled/

engine/bin/glslParser/testResBuild1/compiled/

engine/bin/testKernel/writable/testIniFile/test1_PARSED.txt

engine/bin/testKernel/writable/testIniFile/test_direttive_PARSED.txt

engine/bin/glslParser/test_assets_2/assets/src/__build.gosasset_d

engine/bin/glslParser/test_assets_2/assets.sqlite3

*.gosasset

engine/bin/assetBuilder/test_assets_2/assets/src/__dependencies.txt
engine/bin/testVulkan/shader/example6/altro/sponza/sponza.glb

*.gosassetd

*.reflect
engine/bin/testVulkan/shader/example6/assets/src/__build.gosasset_d

engine/bin/testVulkan/shader/example7/assets/src/__build.gosasset_d
engine/bin/testVulkan/shader/example7/godus_01.gosimage

engine/bin/testVulkan/shader/example7/pippo.tga

engine/bin/testVulkan/shader/example7/out_1162_718.tga

engine/bin/testVulkan/shader/example7/out_581_359.tga
engine/bin/assetBuilder/test_assets_2/assets.sqlite3
engine/bin/testVulkan/shader/example6/assets.sqlite3
engine/bin/testVulkan/shader/example7/assets.sqlite3
engine/bin/testEngine/writable/data/assets.sqlite3

engine/bin/assetBuilder/test_assets_1/assets/src/__build.gosasset_d

engine/bin/assetBuilder/test_assets_1/assets/src/__dependencies.txt

engine/bin/testEngine/writable/data/assets/src/__build.gosasset_d

engine/bin/testEngine/writable/debug_imported_glTF.ini

engine/bin/testEngine/writable/debug_imported_glTF.json

engine/bin/assetBuilder2/writable/test1/asset_bin/__asset_manifest.txt

engine/bin/assetBuilder2/writable/test1/asset_bin/__dependencies.txt
engine/bin/testEngine/writable/assets/assets2.sqlite3

engine/bin/assetBuilder2/writable/test2/asset_bin/__asset_manifest.txt

engine/bin/assetBuilder2/writable/test2/asset_bin/__dependencies.txt

*.kate-swp
engine/out/
engine/bin/assetBuilder2/writable/test2/assets2.sqlite3
engine/bin/testEngine/writable/debug_imported_glTF_omino.ini
engine/bin/testEngine/writable/debug_imported_glTF_tileset.ini

engine/bin/assetMonitor/writable/debug_imported_glTF.ini

engine/bin/assetMonitor/writable/debug_imported_glTF.json

engine/bin/land20260814/writable/assets/asset_src/heightmap/anorway_30m/

engine/bin/land20260814/writable/assets/asset_src/heightmap/Hills_01/

engine/bin/land20260814/writable/assets/asset_src/heightmap/radial/

engine/bin/land20260814/writable/debug_imported_glTF.ini

engine/bin/land20260814/writable/debug_imported_glTF.json

engine/bin/land20260814/writable/assets/asset_src/heightmap/map2_1/

engine/bin/land20260814/writable/assets/assets2.sqlite3
